<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883975537777-r4eco4q6k95ah5jd39k71hcqueskfp8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883975537777-r4eco4q6k95ah5jd39k71hcqueskfp8p</string>
	<key>API_KEY</key>
	<string>AIzaSyCGgQ8ltQ0_eNrZCvLY5urb-X0vLCg3P4E</string>
	<key>GCM_SENDER_ID</key>
	<string>883975537777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acstech.smartbuilding</string>
	<key>PROJECT_ID</key>
	<string>smartbuilding-cde03</string>
	<key>STORAGE_BUCKET</key>
	<string>smartbuilding-cde03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883975537777:ios:0389162c4070f31c3047d0</string>
</dict>
</plist>